@import './vars.scss';
@import './mediaQ.scss';
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(10, 10, 10);
  color: white;
  background: var(--main-color);
  overflow-x: hidden;
  font-family: var(--theme-font);
}